* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    text-align: center;
}

body {
    background-color: antiquewhite;
}
a {
    color: antiquewhite;
    text-decoration: none;
}

a:active {
    color: blue;
}

.header {
    width: 100%;
    font-family: 'Allura', cursive;
    color: antiquewhite;
}

.header-welcome {
    font-size: 75px;
    padding: 5px 0 10px 0;
    background-color: #616655;
}

.header-navbar {
    font-size: 35px;
    padding: 5px 0 5px 0;
    background-color: #616655;
}

.header-text {
    padding:  0 5px 0 5px;
}

#homepage-image {
    padding-top: 50px;
    width: 20%;
}

#text-under-homepage-image {
    padding-top: 25px;
    color: #616655;
    font-family: 'Allura', cursive;
    font-size: 50px;
}

#rsvp-form-div {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 100px;
    display: inline-block;
    border: 5px solid #616655;
    border-radius: 40px;
}

@media only screen and (max-width: 600px) {
    .header {
        font-size: 16px;
    }

    .header-welcome {
        padding-bottom: 5px;
    }

    #text-under-homepage-image {
        font-size: 100%;
    }

    #homepage-image {
        padding-top: 50px;
        width: 60%;
    }

    #rsvp-form-div {
        width: 	80%;
        padding: 0;
    }

    #rsvp-form-div input {
        width: 60%;
        margin-bottom: 10px;
    }

    #rsvp-form-div label {
        width: 80%;
        margin-bottom: 15px;
    }

    #rsvp-form-div p {
        margin-bottom: 10px;
        margin-top: 20px;
    }
}